aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
alphashape
amqp
annotated-doc
annotated-types
anthropic
anyio
apricot-select
APScheduler
attrs
bcrypt
beautifulsoup4
billiard
blis
Brotli
catalogue
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-log
click-plugins
click-repl
cloudpathlib
colorama
confection
coverage
Crawl4AI
cryptography
cssselect
cymem
dataclasses-json
distro
docstring_parser
ecdsa
ExifRead
fake-http-header
fake-useragent
fastapi
fastuuid
filelock
flower
frozenlist
fsspec
greenlet
grpcio
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanize
hyperframe
idna
importlib_metadata
iniconfig
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kombu
langchain
langchain-anthropic
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
language_data
lark
litellm
llvmlite
loguru
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
murmurhash
mypy_extensions
networkx
nltk
nose
numba
numpy
openai
opencv-python
opt_einsum
orjson
ormsgpack
packaging
pandas
passlib
patchright
patsy
pdf2image
pgmpy
pillow
pinecone
playwright
pluggy
pomegranate
portalocker
preshed
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
PyMuPDF
pyOpenSSL
pyro-api
pyro-ppl
pytesseract
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
pywin32; sys_platform == "win32"
PyYAML
rank-bm25
redis
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
rtree
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shapely
shellingham
shortuuid
six
smart_open
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
statsmodels
sympy
tenacity
tf-playwright-stealth
thinc
threadpoolctl
tiktoken
tokenizers
torch
tornado
tqdm
transformers
trimesh
typer
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
uvicorn==0.38.0
vine==5.1.0
wasabi==1.1.3
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.1
websockets==15.0.1
win32_setctime==1.2.0
wrapt==2.0.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
